# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.venv

# IDE / tools
.idea/
.vscode/
.ruff_cache/
*.swp
*.swo
*~

# Environment variables
.env

# Logs
*.log
logs/
logs/last_resume_index.json

# OS
.DS_Store
Thumbs.db


